{{> header }}
<div class="container">
    <div class="row">
        <div class="col-2 mx-auto mt-5 "></div>
<div class="col-8 mx-auto mt-5 ">

   

   
    <div class="row pt-5" style="display: flex;" >
        
        <h4 class="col-9">{{title}} </h4>
        <p class="col-3 " style="align-self: flex-end; font-size:x-small; color:gray">{{Ftime date}}</p>
        
        <p class=" border-top"  id="content">{{body}}</p>
       
        
  
    
    </div>

</div>
<div class="col-2 mx-auto mt-5 "></div>
</div>
</div>
{{> footer }}